*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-item{
    width: 100vw;
    height: 100vh;
}
.slider-item-one{
    background-image: url(/GitLab/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-item-two{
    background-image: url(/GitLab/img/319538689_549687873841579_8303097396728355409_n.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-item-three{
    background-image: url(/GitLab/img/resources-top-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}