*{
    margin: 0;
    border:0;
    font-family:'Inter',sans-serif;
    box-sizing: border-box;
}
h1{
    font-size:48px;
}
.header{
    padding: 50px 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFF;

}
.header__container{
    width: 90%;
    padding: 0 12px;
    margin: 0 auto;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 3px;
    align-items: center;
}
.nav__logo span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    margin-right: 12px;
    text-align: center;
  
}
.nav__contact{
    display: flex;
}
.contact__icon{
    margin: 5px;
    font-size: 15px;
    width: 25px;
    height: 25px;
    background-color:#F26464;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}
.contact__icon:hover{
    cursor: pointer;
    background-color: #000;

}
.container{
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
    padding:px;
}
.profile{
    display: flex;
    justify-content: space-between;
    padding: 200px 0 0 14px;
}
.profile__image{
    margin-right: 30px;
    overflow: hidden;
    max-width: 80%;
    height: 600px;
}

.profile__image img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.profile__image img:hover{
    transform: scale(2);
    cursor: pointer;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}
.prodfile__info span{
    font-size: 16px;
    display: block;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}
.product__info__skill{
    display: flex;
    justify-content:space-between;
    margin-top: 60px;
    width: 50%;
}
.product__skill{
    font-size: 16px;
    font-weight:300;
}
.product__skill strong{
    font-size: 36px;
    color:#F26464;
    font-weight: 800;
}

.about{
    padding:60px 0 60px 14px;

}
.title{
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 8px;
    margin-bottom: 40px;
}
.intro-section{
    padding-top: 60px;
    padding-bottom: 120px;
}
.introduction p{
    font-size: 24px;
    line-height: 40px;
    font-weight: 200;
    margin-bottom: 60px;
    margin-top: 30px;
}
.btn{
    text-align: center;
}
.btn__download{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
}
.btn__download:hover{
    color: #FFF;
    background-color: #F26464;
}
.skill__section{
    display: flex;
    padding: 60px 0 60px 14px;
}
.half__section{
    width: 50%;
}
.skill__list{
    padding-top:50px;
    display: flex;
    flex-wrap: wrap;
}
.skill__item{
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.work__ex{
    display: block;
    padding: 60px 0 60px 14px;
}
.work__ex h2{
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #f26464;
    padding-bottom: 7px;
    margin-bottom: 25px;
}
.ex__list{
    display: flex;
}
.col__ex section{
    padding-right: 70px;
}
span.ds-year{
    color: #373737;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}
.col__ex section  h3{
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
}
span.ds-department{
    font-size: 18px;
    font-weight: 500;
    color: #373737;
}
.col__ex section p{
    padding-top: 24px;

}
.col__ex section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.col__ex section ul li{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}
.col__ex section ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #373737;
}
.lasted__works{
    display: block;  
    padding: 60px 0 60px 14px;
}
.lasted__works h2{
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #f26464;
    padding-bottom: 7px;
    margin-bottom: 25px;
}
.col__work{
    padding: 40px 70px 0 70px;
    background-color: #f6f8fa;
    margin-bottom: 40px;
}
.work__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.col__7{
    width: 58.33%;
    padding: 0 12px;
}
.col__5{
    width: 41.67%;
    padding: 0 12px;
}
.col__7 .work__title{
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.col__7 p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}
.ds-btn{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #f26464;
    padding: 17px 30px;
    border: 2px solid #f26464;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.ds-btn:hover{
    background-color: #f26464;
    color: #FFF;
}
.col__5 img{
    max-width: 100%;
    height: auto;
}
.footer{
    display: block;
    background-color: #000;
    padding: 120px 0;
    text-align: center;
}
.footer .container section{
    padding-bottom: 100px;
}
.footer .container section span{
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}
.footer .container section h4{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .container section p{
    letter-spacing: 1px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 500;
}
.ds-copyright{
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
}
